.cardContainer {
  display: flex;
  padding: 1%;
  flex-wrap: wrap;
  justify-content:center;
}

.card{
  flex: 0 1 23%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 350px;
  min-width: 171px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  font-family: sans-serif;
  border:solid 0.5px black;
  padding: 15px;
}

.card-content h4{
  text-align: center;
}

.card-content h5{
  font-size: 15px;
  text-align: center;
  margin-top: -15px;
}

.card-content li{
  list-style: none;
  text-align: center;
}

.card-content span{
  text-decoration: none;
  color: black;
  border: 1px solid black;
  padding: 10px 30px;
  font-size: 13px;
  cursor: pointer;
}

.card-content span:hover{
  background-color: black;
  color: white;
}

.card-content span.remove{
  background-color: rgb(238, 38, 38);
  color: white;
  border: 1px solid rgb(187, 56, 56);
}

.noResult{
  color: rgb(107, 102, 102);
}

/* .remove:hover{
  background-color: red;
  color: white;
  border: 1px solid rgb(187, 56, 56);
} */


@media (max-width:600px)  {
  .card{
    flex: 0 1 60%;
  }
  }
