.App {
  /* text-align: center; */
  height: auto;
  min-height: 100vh;
  width: 100%;
  background-color: rgb(230, 228, 228);
  box-sizing: border-box;
  overflow: hidden;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
  -webkit-user-select: none;
        -webkit-touch-callout: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
}

body::-webkit-scrollbar {
  display: none;
}
